body {
    background-image: url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h2,h3,p,a {
    color: white;
}
.logo {
    display: inline;

}
.nav-tabs {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
    font-size: 30px;
    
}